<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Personnel" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Visual Studio\Kr_DB\Personnel.mdf;Integrated Security=True" />
  <add name="Company" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\northwnd.mdf;Integrated Security=True;Connect Timeout=30" />
  <add name="Kr_DB.Properties.Settings.northwndConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\northwnd.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>